nav {
    background-color: red;
    color: white;
    font-size: 30px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .nav-menu {
    display: flex;
    gap: 20px;
  }
  
  .nav-menu a {
    color: white;
    text-decoration: none;
  }

.container{
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    grid-template-rows: 2fr  3fr ;
    row-gap: 50px;
    color: beige;
}
.card-menu {
    display: flex;
    padding: 15px;
    gap: 5px;
    height: 80px;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.Box{
    width: 100px;
    height: 70px;
    background-color: white;
    color: black;
}
.sidebar-1 {
    background-color: yellowgreen;
}

.article {
    background-color: maroon;
}

.sidebar-2 {
    background-color: green;
}